# Servidor
PORT=4000
NODE_ENV=development

# JWT Mock Secret
JWT_SECRET=super_secret_mock_key_2026

# Base de datos PostgreSQL (Docker)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=siigo_mock
DB_USER=siigo_user
DB_PASSWORD=siigo_pass_2026

# Webhooks Locales
N8N_LOCAL_WEBHOOK_URL=http://localhost:5678/webhook/siigo-mock-trigger
